$mango: #ff7900;
$mangoBg: #FFF6ED;
$pepsi: #5173ec;
$greyMonkey: #707070;
$greyLight:#F5F5F5;
$black: #101010;
$milk: #fff;

:export {
    mango: #ff7900;
    mangoBg: #FFF6ED;
    pepsi: #5173ec;
    greyLight:#F5F5F5;
    greyMonkey: #707070;
    milk: #fff;
}
